@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Funnel Sans", Arial, Helvetica, sans-serif;
}

.navbar-top {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;

  .logo {
    border: 1px solid black;
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 2.25rem;
  }

  ul {
    /* border: 1px solid black; */
    /* padding: 1rem 0; */

    li {
      border: 1px solid black;
      display: inline;
      list-style-type: none;
      margin-left: 1.5rem;

      a {
        font-size: 1rem;
        text-decoration: none;
        color: black;
      }
    }
  }
}

.navbar-bottom {
}
